@use '../abstracts' as *;

.banner {
    @include v-padding(0, 0, 0, 0);

    position: relative;
    padding: var(--_p-t) var(--_p-r) var(--_p-b) var(--_p-l);

    img {
        --_width: auto;
        --_height: auto;

        width: var(--_width);
        height: var(--_height);
        object-fit: cover;
    }

    &-content {
        @include v-padding(4rem, 0, 4.5rem, 2rem);
        @include v-margin(-2.5rem, 2rem);

        --_width: unset;
        --_display: block;

        padding: var(--_p-t) var(--_p-r) var(--_p-b) var(--_p-l);
        margin-right: var(--_m-r);
        margin-top: var(--_m-t);
        background-color: white;
        isolation: isolate;

        bottom: 0;
        right: 0;

        width: var(--_width);
        position: var(--_position);
    }

    .heading--xl {
        --_display: none;
        --_position: static;
        --_right: 0;

        display: var(--_display);
        position: var(--_position);

        top: -5rem;
        right: var(--_right);
    }
}

@media (min-width: 768px) {
    .banner {
        @include v-padding(
            1.5rem,
            var(--spacing-master-tab),
            7.5rem,
            var(--spacing-master-tab)
        );

        img {
            --_height: 620px;
        }

        &-content {
            @include v-padding(
                $t: var(--spacing-master-tab),
                $r: var(--spacing-master-tab),
                $l: var(--spacing-master-tab)
            );

            --_m-r: 0;

            --_width: 80%;
            --_position: absolute;
        }

        .heading--xl {
            --_display: block;
            --_position: absolute;
            --_right: var(--spacing-master-tab);
        }
    }
}

@media (min-width: 1280px) {
    .banner {
        --_p-l: var(--spacing-master-des);
        --_p-r: 0;

        img {
            --_width: 50%;
        }

        &-content {
            --_p-l: var(--spacing-master-des);
            --_p-r: var(--spacing-master-des);
            --_p-t: var(--spacing-master-des);

            --_width: 60%;
        }

        .heading--xl {
            --_right: var(--spacing-master-des);
        }
    }
}
