body {
    font-family: var(--ff);
    font-weight: var(--fw-normal);
    font-size: 1.125rem; // 18px
    line-height: 1.333;
    color: var(--clr-dark-gray);
}

p:not(:last-of-type) {
    margin-bottom: 1.5rem;
}

.heading {
    --_fs: 2rem; // 32px;
    --_lh: 1.25;
    --_ls: unset;

    font-weight: var(--fw-bold);
    font-size: var(--_fs);
    line-height: var(--_lh);
    letter-spacing: var(--_ls);

    &--xl {
        --_fs: 7.5rem; // 120px
        --_lh: 1.6;
        --_ls: -3px;

        --_display: none;

        color: var(--clr-very-light-gray);
        text-align: right;

        display: var(--_display);

        @media (min-width: 768px) {
            --_display: block;
        }

        @media (min-width: 1280px) {
            --_fs: 15.625rem; // 250px
            --_lh: 0.8;
            --_ls: -5px;
        }
    }

    &--l {
        --_fs: 3rem; // 48px;
        --_lh: 1;
        --_ls: -1.2px;

        color: var(--clr-dark-blue);
        margin-bottom: 1.5rem;

        @media (min-width: 768px) {
            --_fs: 6rem; // 96px
            --_ls: -2px;
        }
    }

    &--m {
        --_fs: 3rem; // 48px;
        --_lh: 1.2;
        --_ls: -1.714px;

        color: var(--clr-dark-blue);
        margin-bottom: 1.5rem;

        @media (min-width: 768px) {
            --_fs: 4.5rem; // 72px
            --_lh: 0.9;
            --_ls: -2px;
        }
    }

    &--decorative {
        --_decorative-gap: 4rem;
        --_decorative-height: 1px;

        margin-top: var(--_decorative-gap);
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: calc(var(--_decorative-gap) * -1 + var(--_decorative-height));
            left: 0;
            height: var(--_decorative-height);
            width: var(--_decorative-gap);
            background-color: currentColor;
            z-index: -1;
        }
    }
}

.sub-heading {
    font-weight: var(--fw-bold);
    font-size: 1.125rem; // 18px
    line-height: 2;
}
