.banner {
    --_p-x: 0;
    --_p-y: 0;

    padding: var(--_p-y) var(--_p-x);

    &-content {
        --_p-l: var(--spacing-master-mob);
        --_p-r: 0;
        --_p-t: 4rem;
        --_p-b: 4.5rem;

        --_m-t: -2.5rem;
        --_m-r: 2rem;

        padding: var(--_p-t) var(--_p-r) var(--_p-b) var(--_p-l);
        margin-right: var(--_m-r);
        margin-top: var(--_m-t);
        background-color: white;
        isolation: isolate;
    }
}

@media (min-width: 768px) {
    .banner {
        --_p-x: var(--spacing-master-tab);
        --_p-y: 1.5rem;
    }
}

@media (min-width: 1280px) {
    .banner {
        --_p-x: var(--spacing-master-des);
    }
}
