.btn {
    --_p-x: 2rem;
    --_p-y: 1.5rem;
    --_gap: 1.5rem;

    --_clr: var(--clr-white);
    --_bg: var(--clr-dark-blue);
    --_bg-hover: var(--clr-dark-gray);
    --_bg-active: var(--clr-light-gray);
    --_text-decoration: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 252px;

    gap: var(--_gap);
    padding: var(--_p-y) var(--_p-x);
    // margin-left: auto;
    // margin-right: auto;

    color: var(--_clr);
    background-color: var(--_bg);
    text-transform: capitalize;
    text-decoration: var(--_text-decoration);
    font-weight: var(--fw-bold);

    &:hover {
        --_bg: var(--_bg-hover);
        --_text-decoration: underline;
    }

    &:active {
        --_bg: var(--_bg-active);
    }

    &--reverse {
        --_clr: var(--clr-dark-blue);
        --_bg: var(--clr-white);
        --_p-x: 0;

        &:hover,
        &:active {
            --_bg: unset;
        }
    }

    &--action {
        &::after {
            content: '';
            background-color: var(--_clr);

            -webkit-mask: url('/assets/icons/arrow-right-icon.svg') no-repeat
                50% 50%;
            mask: url('/assets/icons/arrow-right-icon.svg') no-repeat 50% 50%;
            -webkit-mask-size: cover;
            mask-size: cover;

            height: 20px;
            width: 24px;

            flex-shrink: 0;
        }

        &-only {
            --_p-x: 1.5rem;
        }
    }
}
