input,
textarea {
    --_border-clr: var(--clr-dark-blue);
    --_border-width: 2px;
    --_p-y: 1rem;
    --_p-x: 1rem;
    --_m-b: 1rem;

    width: 100%;
    border-bottom-width: var(--_border-width);
    border-bottom-color: var(--_border-clr);

    padding: var(--_p-y) var(--_p-x);
}

.ng-touched.ng-invalid {
    --_border-clr: var(--clr-error);

    opacity: 0.85;

    &::placeholder {
        color: var(--clr-error);
    }
}

.form-field {
    position: relative;
}

.form-error {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    text-align: right;
    color: var(--clr-error);
}
