body {
    font-family: var(--ff);
}

.heading {
    &--xl {
        --fw-xl: var(--fw-bold);
        font-weight: var(--fw-xl);
        font-size: 15.625rem;
        line-height: 0.8;
        letter-spacing: -5px;
    }

    &--l {
        font-weight: var(--fw-bold);
        font-size: 6rem;
        line-height: 0.8333;
        letter-spacing: -2px;
    }

    &--m {
        font-weight: var(--fw-bold);
        font-size: 4.5rem;
        line-height: 0.875;
        letter-spacing: -2px;
    }

    &--s {
        font-weight: var(--fw-bold);
        font-size: 2rem;
        line-height: 1.25;
    }
}

.body {
    font-weight: var(--fw-normal);
    font-size: 1.125rem;
    line-height: 1.333;
}

.sub-heading {
    font-weight: var(--fw-bold);
    font-size: 1.125rem;
    line-height: 2;
}
