body {
    font-family: var(--ff);
    font-weight: var(--fw-normal);
    font-size: 1.125rem; // 18px
    line-height: 1.333;
}

.heading {
    --_fs: 2rem;
    --_lh: 1.25;
    --_ls: unset;

    font-weight: var(--fw-bold);
    font-size: var(--_fs);
    line-height: var(--_lh);
    letter-spacing: var(--_ls);

    &--xl {
        --_fs: 15.625rem; // 250px
        --_lh: 0.8;
        --_ls: -5px;
    }

    &--l {
        --_fs: 3rem; // 48px;
        --_lh: 0.8333;
        --_ls: -1.2px;

        @media (min-width: 768px) {
            --_fs: 6rem; // 96px
            --_ls: -2px;
        }
    }

    &--m {
        --_fs: 4.5rem; // 72px
        --_lh: 0.875;
        --_ls: -2px;
    }
}

.sub-heading {
    font-weight: var(--fw-bold);
    font-size: 1.125rem; // 18px
    line-height: 2;
}
