:root {
    // Color
    --clr-dark-blue: #1b1d23;
    --clr-dark-gray: #60636d;
    --clr-medium-gray: #7d828f;
    --clr-light-gray: #c8ccd8;
    --clr-very-light-gray: #eeeff4;
    --clr-red: #df5656;
    --clr-white: #fff;

    // Typography
    --ff: 'League Spartan', sans-serif;
    --fw-bold: 700;
    --fw-normal: 500;

    // Spacing
    --spacing-master-des: 10rem;
    --spacing-master-tab: 6rem;
    --spacing-master-mob: 2rem;
}
